.dialogue-node-text-id
{
    width: 100;
}

.dialogue_node_main-container 
{
    background-color: coral;
}

.dialogue-node-text-message
{
    min-width: 120;
    min-height: 80;
    padding: 2;
}

.dialogue-node-add-choice-button
{
    background-color: white;
    color: black;
    -unity-font-style: bold;
}

.dialogue-node-remove-choice-button
{
    background-color: red;
    color: white;
    -unity-font-style: bold;
}